@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/* Root */
:root{
    --primary-color : #142850;
    --secondary-color : #27496d;
    --third-color : #00909e;
    --fourth-color : #dae1e7;
}
/* General */
body, html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
html{
    /* background-color: var(--fourth-color) */
}
ul {
    padding: 0;
}

/* header */

header {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:var(--secondary-color);
}

header h1 {
    color: white;
}

header nav ul {
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

/* main */
main {
    /* border: 1px solid blue; */
    background-color: white;
}

main ul li {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1%;
}

main ul li a{
    text-decoration: none;
    text-align: center;
    place-self: center;
    display: block;
    color: var(--third-color);
}

main ul li figure {
    width: 50%;
    margin: 0 auto;
}

main ul li figure img {
    width: 100%;
}

/* Media queries */

@media screen and (max-width:600px) {
    main ul li {
        display: list-item;
    }

    main ul li a {
        padding: 3%;
    }
    
    header, nav ul {
      flex-direction: column;
      text-align: center;
      padding: 0;
    }
  }