@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
/* variables */
:root{
    --primary-color: hsl(217, 19%, 35%);
    --secondary-color: hsl(214, 17%, 51%);
    --tertiary-color: hsl(212, 23%, 69%);
    --background-color: hsl(210, 46%, 95%);
    --font-family: 'Manrope', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: -web-kit-fill-available;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--background-color);
    font-size: 13px;
}

h1{
    font-size: 16pt;
    font-weight: 700;
    color: var(--primary-color);
}

h2 {
    font-size: 10pt;
    font-weight: 500;
    color: var(--secondary-color);
}

h3 {
    font-size: 10pt;
    font-weight: 700;
    color: var(--primary-color)
}

h4 {
    font-size: 8pt;
    font-weight: 500;
    color: var(--secondary-color);
    margin-top: -12px;
}

main {
    /* width: 100%;
    height: -web-kit-fill-available;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--background-color);
    font-size: 13px; */
}

.card{
    width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px var(--tertiary-color);
}

.card-img{
    height: 300px;
    margin: 0;
    width: 400px;
    overflow: hidden;
}
.card-img img{
    width: 100%;
}

.card-content{
    padding: 15px;
    font-family: var(--font-family);
    background-color: white;
    border-radius: inherit;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;

}

.card-content--info{
    padding-left: 5px;
}

.card-content--share{
    display: grid;
    place-self: center;
    width: 25px;
    height: 25px;
    background: var(--background-color);
    border-radius: 50%;
    /* border: 1px solid red; */
}

.card-author{
    display: flex;
}
.card-author figure{
    width: 40px;
    height: 40px;
    margin: auto 0;
    overflow: hidden;
    border-radius: 50%;
}

.card-author figure img{
    width: 100%;
}

.share-img{
    margin: 6px;
    display: grid;
    place-self: center;
}

.share-img img {
    /* margin: auto 4px; */
    width: 100%;
}

footer{
    display: grid;
    grid-template-columns: 70% 30%;
}